<!DOCTYPE html>
<html>
    <head>
        <title>Help Camp</title>
        <link rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel ="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>  

        <div class="container" id= "landing-header">
            <h1>Welcome to HelpCamp!</h1>
            <p>slected campgrounds!</p>
            <a class="btn btn-lg btn-primary" href="/campgrounds">View All Campgrounds</a>
            
            <% include ./partials/footer %>
        </div>
        
        <div class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </div>
    </body>
    
</html>
