body{
    background-color: #000;
}

#landing-header{
    /*giving third axe*/
    /*means it will forward by 1*/
    z-index: 1;
    /*to use z-index we need to change default position from static to relative*/
    position: relative;
    text-align: center;
    /*vh = view height*/
    padding-top: 40vh;
}

#landing-header h1,p{
    color: #fff;
}

.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1537905569824-f89f14cceb68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
}

.slideshow li:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1533086723868-6060511e4168?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1537565266759-34bbc16be345?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url(https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
    animation-delay: 40s;
}

/* we not gonna see anything for above code 
becuse the opacity is set to 0 and we not have animation set up to fade them into one*/
/*imageAnimation(name) is same as used in slidshow li*/
@keyframes imageAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10%{
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}